ol {
    text-align: center;
}

li{
    margin-bottom: 2rem;
    font-size: 2rem;
    background-color: rgb(236, 230, 230);
}

section {
    margin-top: 5rem;
    display:flex;
    margin-left:3rem;
    margin-right: 3rem;
    height: 20rem;
}
.list{
    flex:1;
}
.images {
    flex:1;
    background-image: url("/img/reading.jpg");
    background-position: bottom;
    background-size: cover;


}
.images img{
}