
html{
    box-sizing: border-box;
}
*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(34, 33, 33)
}
body{
    margin-left: 2rem;
    margin-right: 2rem;
}

header{
    margin-top: 2rem;
    display: flex;
    background-color: lightgray;
}
header a:hover{
    background-color:aqua;
}
header .main {
    flex: 1;
    display:flex;
}
header .main a{
    padding-left: 1rem;
    padding-bottom:1rem;
    padding-top:1rem;
}
.social a{
    font-size: 0.8rem;
    align-items:center;
}

img{
    height: 13rem;
    width: 13rem;;
    text-align: center;
    float: right;

}
#container{
    margin-top: 3rem;
    display:flex;
}
#img_container {
    flex: 0.5;
    margin-right: 2rem;
}
#text_container{
    flex: 1;
}
.status {
    vertical-align: bottom;
    font-size: 0.8rem;
}
.status strong{
    font-size: 1rem;
        
} 
#status small{
    color: rgb(63, 63, 63);
    font-size: 0.4rem;
}   
.hobby{
    font-size: 0.7rem;
}